.caixa{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: 1px solid #ccc;
}
.caixa.vermelho{
    background-color: red;
}
.caixa.verde{
    background-color: green;
}
.caixa.azul{
    background-color: blue;
}